<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">Creation dossier</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="OnCreate(f.value)">
        <div class="form-group">
          <label class="control-label"> Non dossier :</label>
          <input type="text" name="nom" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label"> Emplacement dossier :</label>
          <input type="text" name="emplacement" ngModel class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Create</button>
      </form>
    </div>
  </div>
</div>
