<div class="container">
  <div *ngIf="isAuthenticated()">
    <div class="jumbotron">
      <br><br><br><br><br><br><br><br>
      <div id="menu_area" class="menu-area">
        <div class="container">
          <div class="row">
            <nav class="navbar navbar-light navbar-expand-lg mainmenu">
              <div class="collapse navbar-collapse" id="oNavigation">
                <ul class="nav navbar-nav">
                  <li><a routerLink="Document">DOCUMENTS</a></li>
                  <li><a routerLink="GroupeDocumComponent">GROUPS DES DOCUMEMTS</a></li>
                  <li><a routerLink="Dossier">DOSSIER</a></li>
                  <li><a routerLink="GrpsUtilisateurs">GROUPS DES UTILISATEUR</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                  <li>
                    <a class="btn" (click)="logOut()" routerLink="/Deconnection">DECONNECTION<span
                      class="glyphicon glyphicon-log-out"></span></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>

      </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <router-outlet>
          </router-outlet>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3" *ngIf="!isAuthenticated()">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>

